/* color palette from <https://github.com/vuejs/theme> */
:root {
  --pl-b-grey: hsl(0, 3%, 94%);
  --pl-c-grey:hsl(0, 0%, 85%);
}

/* semantic color variables for this project */
:root {
  --placeholder-background: var(--pl-b-grey);
  --placeholder-text: var(--pl-c-grey);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  width: 100%;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  overflow-x:hidden;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}
ul{
  padding: 0;
  width: 60%;
  display: grid;
  align-items: center;
  margin:0 auto;
  grid-template-columns: 1fr;
  grid-auto-rows: 350px;
  gap: 16px;
  position: relative;
  top: -1.8em;
}
li{
  list-style:none;
}
button {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 18px;
  height: 20px;
  cursor: pointer;
}
@media (min-width: 40rem){
ul{
  grid-template-columns: repeat(2, 1fr);
     grid-auto-rows: 125px;
}
ul :nth-child(odd){
  grid-row: span 2;
}
ul :nth-child(even){
  grid-row: span 3;
}
}
@media (min-width: 60rem){
ul{
  grid-template-columns: repeat(3, 1fr);
}
}